@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap");

* {
	font-family: "Mulish", sans-serif;
	box-sizing: border-box;
}

ul {
	list-style-type: none;
}

h1,
h2 {
	color: rgb(0, 84, 71);
}

h3,
h4 {
	color: rgb(0, 84, 71);
	margin: 0;
}

/* div 1 ---------------------------------- */

#one {
	display: flex;
	flex-direction: row;
	height: 100vh;
}

#one > div {
	padding: 1rem 4rem;
}
#one img {
	max-width: 50%;
	object-fit: cover;
}

#one > div > a {
	text-decoration: none;
	padding: 1rem;
	background-color: rgb(81, 193, 186);
	color: rgb(240, 248, 255);
}

nav ul {
	padding: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

nav{
  margin-bottom: 5rem;
}

nav a {
	text-decoration: none;
}

nav a:hover {
	cursor: pointer;
}

#home-text {
	margin-bottom: 3rem;
	font-size: 0.8rem;
}

#one img {
	object-fit: cover;
}

/* div 2 ---------------------------------- */

#two {
	text-align: center;
}

#two ul {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
}

#two article img {
	height: 200px;
	width: 100%;
	object-fit: cover;
}

#two li {
	/* border: 1px solid rgb(20, 20, 20); */
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

/* div 3 ---------------------------------- */

#three {
	text-align: center;
	height: 100vh;
}

#three p {
	font-size: 0.8rem;
}

#three > p {
	margin: 0;
}

#three ul {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

#three article {
	height: 200px;
	width: 200px;
}

#three article img {
	height: 4rem;
}

/* div 4 ---------------------------------- */

#four {
	height: 100vh;
	display: flex;
	flex-direction: row;
}

#four section {
	padding-left: 4rem;
}

#four article {
	display: flex;
	flex-direction: row;
}

#four article h5,
#four article p {
	margin: 0;
}

#four ul img {
	height: 3rem;
}

#four ul li {
	margin: 2rem 0;
}

/* div 5 ---------------------------------- */

#five {
	margin: 0;
	height: 50vh;
	background-image: linear-gradient(
		to right,
		rgb(160, 212, 184),
		rgb(121, 207, 253)
	);
}
#five h2 {
	margin: 0;
}

#five div {
	text-align: center;
	border-radius: 15px;
	padding: 0.37rem;
	background-color: rgb(254, 255, 240);
	position: relative;
	top: 70px;
	max-width: 70%;
	height: 80px;
	margin: auto;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

#five input {
	height: 36px;
	padding: 1rem;
}

#five button {
	background-color: rgb(81, 193, 186);
	padding: 0.5rem;
	border-color: rgb(81, 193, 186);
	color: rgb(255, 255, 255);
  border-radius: 0.3rem;
}

/* div 5 ---------------------------------- */

#six {
	height: 50vh;
	text-align: center;
  color: rgb(64, 72, 73);
}

#six > div {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#six a{
  display: inline-block;
  margin: 1rem 3rem;
}

#six ul{
  text-align: left;
}

#six a img {
	height: 3rem;
	width: 3rem;
}

/* git push -u origin master */
